@import "../../../styles/_variables.scss";

.signUp {
  padding: 2rem 3rem;
  min-height: fit-content;
  .disable {
    pointer-events: none;
    opacity: 0.7;
  }
  .error {
    color: red;
  }
  .otpContainer {
    display: flex;
    overflow: hidden;
    border: 1px solid #ced4da;
    border-radius: 50px;
    margin: 0 0 0.5rem 0;
    height: 2.5rem;
    direction: ltr !important;
    p {
      margin: 0;
      font-weight: bold;
    }
    .otp {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      color: #67d5dd;
      border-inline-end: 1px solid #ced4da;
      p {
        text-align: center;
      }
    }
    .otpValue {
      display: flex;
      align-items: center;
      color: #919191;
      width: 90%;
      padding: 0 0.1rem;
    }
    // p {
    //   margin: 0;
    //   span {
    //   }
    // }
  }
  .question {
    color: rgb(73, 80, 87);
    font-size: 16px !important;
    text-align: center;
    font-weight: bold;
  }
  &__verifyParagraph {
    font-size: $fontSmall;
  }
  @media (max-width: 600px) {
    padding: 2rem 2rem;
  }

  a:hover {
    color: inherit;
  }
  &__logo {
    width: 35% !important;
    margin: 0 auto 1rem auto;
  }
  h3 {
    display: inline-block;
    margin: 0 auto 1rem auto;
  }
  h4 {
    font-size: 22px;
    color: rgb(78, 191, 206);
  }
  form {
    .inputsContainer {
      display: flex;
      input:first-child {
        margin-inline-end: 10px;
      }
    }
    .inputType {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__inputs {
        flex-basis: 70%;

        input[type="radio"] {
          display: none;
        }
        label div {
          margin-inline-end: 30px;
          cursor: pointer;
          transition: all $transTime ease-in-out;

          img {
            width: 60px;
            object-fit: cover;
          }
        }
        input[type="radio"]:checked + div {
          background-color: $blue-200;
        }
      }
    }

    p {
      width: 100%;
      font-size: $fontSmall;
    }
    button {
      display: block;
      text-align: center;
      width: 100%;
      margin: 2rem 0 1rem 0;
      background-color: $blue-200;
      color: $white;
      border: none;
      padding: 0.5rem 0;
      font-weight: 500;
    }

    a {
      color: black;
      font-size: $fontSmall;
    }
  }

  &__footer {
    margin-top: 2rem;
    text-align: center;
    &__top {
      margin-bottom: 3rem;
      font-size: $fontSmall;

      a {
        color: #bebebe;
      }
      .icons {
        margin-top: 1rem;
        img {
          width: 15px;

          &:first-child {
            margin-inline-end: 0.5rem;
          }
        }
      }
    }

    &__bottom {
      font-size: $fontSmall;
      margin: 0;

      a {
        color: $blue-200;
        padding-inline-start: 0.5rem;
        font-size: $fontNormal !important;
        font-weight: bold;
      }
    }
  }

  &__verifyInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    input {
      width: 20%;
      margin-inline-start: 10px;
      text-align: center;
    }
  }
  &__inputAnswer {
    input {
      color: rgb(73, 80, 87);
      margin-inline-start: 10px;
      // text-align: center;
      &::placeholder {
        color: rgb(73, 80, 87);
      }
    }
  }
}
