.searchBar {
  .formControl {
    border-radius: 0px;
    border: none;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    &:focus {
      box-shadow: none;
    }
  }
  .btn {
    border-radius: 0px;
    width: 120px;
    background-image: linear-gradient(to right, #00c7d4, #154ed4);
    border: 0px;
    img {
      float: left;
      width: 20px;
      margin-top: 3px;
      margin-left: 10px;
    }
  }
  margin-bottom: 20px;
}
