//  Colors
$black: #000;
$white: #fff;
$blue-100: #ecf0f3;
$blue-150: #e6ebef;
$blue-200: #00c7d4;
$blue-500: #194bd6;
$gray-200: #fbfbfb;
$orange-300: #ff5100;

// size
$fontBig: 45px;
$fontMed: 24px;
$fontNormal: 18px;
$fontSmall: 14px;
$borderRadius: 30px;
$sectionSpace: 3rem;
$transTime: 0.2s;
