@import "../../../styles/_variables.scss";

.offerContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0px;
  .show {
    margin-bottom: 20px;
    p {
      margin-bottom: 0px;
    }
    svg {
      color: #000000;
    }
  }
  .changeTerms {
    background: #00c7d4 !important;
    border-radius: 50px;
    border: 0px !important;
    padding: 10px 30px;
    color: #ffffff !important;
    float: left;
    margin-top: 0px !important;
  }
  h2 {
    span {
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 10px;
      font-family: "Conv_SEGOEUI";
    }
  }
  p {
    line-height: 1rem;
    font-family: "Conv_seguisb" !important ;
    span {
      display: block;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 0.3rem;
    }
  }
  h4 {
    color: #ff5100;
    font-size: 18px;
    span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 10px;
      font-family: "Conv_SEGOEUI";
      margin-left: 10px;
      .bi {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
