@import "../../../styles/_variables.scss";

//

.profilGallery {
  width: 100%;
  text-align: center;
  margin: 5% 0px;
}
.galleryThumb {
  background: rgba(237, 240, 243, 0.7);
  padding: 20px;
  border: 7px solid #ffffff;
  img {
    padding-bottom: 20px;

    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  a {
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 7px 0px;
    display: inline-block;
  }
}
.galaryP {
  min-height: 100px;
}
