@import "../../../styles/_variables.scss";

.offerProfile {
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
  h3 {
    margin-top: 30px;
    span {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.5);
      display: block;
      padding-top: 10px;
    }
  }
  a {
    font-size: 16px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
    display: block;
  }
  button {
    background: #00c7d4;
    border-radius: 50px;
    border: 0px;
    padding: 10px 30px;
  }
  ul {
    text-align: right;
    padding: 0px;
    min-height: 400px;
    li {
      display: block;
      padding: 10px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      svg {
        width: 30px;
        padding-left: 10px;
      }
      a {
        color: #000000;
        text-decoration: none;
        display: initial;
        &:hover {
          color: #154ed4;
        }
      }
    }
    li.active {
      > a {
        color: #154ed4;
      }
    }

    .active {
      span {
        color: #154ed4;
      }
    }
  }
}
