@import "../../styles/_variables.scss";

.loadMore {
  background: $blue-200;
  border: 0px;
  color: $white;
  padding: 10px 50px;
  text-align: center;
  span {
    display: block;
  }
}
.loadMoreBtn {
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}
