@import "../../../styles/_variables.scss";

.passwordContainer {
  position: relative;

  .passwordInput {
    display: block;
    width: 100%;
    padding: 0.2rem 0;

    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    &::placeholder {
      color: $black;
    }

    &:focus,
    &:focus {
      outline: none;
    }
  }
  .passwordIcon {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    cursor: pointer;
  }
}
